<%= form_for @book do |f| %>
<p>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
</p>

<p>
    <%= f.label :cover_image, "Cover Image" %>
    <%= f.text_field :cover_image, :required => true %>
</p>

<p>
    <%= f.label :genre %>
    <%= f.text_field :genre, :required => true %>
</p>

<p>
    <%= f.label :publisher %>
    <%= f.text_field :publisher, :required => true %>
</p>

<p>
    <%= f.label :publish_date %>
    <%= f.text_field :publish_date, :required => true %>
</p>

<p>
    <%= f.label :num_pages, "Number of Pages" %>
    <%= f.number_field :num_pages, :required => true %>
</p>

<p>
    <%= f.label :author_id %>
    <%= f.select :author_id, Author.all.map{|a| [a.name, a.id] }, :include_blank => true %>
</p>

<%= f.submit %>
<% end %>