<p>Your movie title is <%= @movie_title %></p>
<p>Your movie poster is <img src="<%= @poster %>"></p>


<p>Your search URL WORKS <%= @movie_search_url %>.</p>
<p>Your search INFO WORKS <%= @movie_search_info %>.</p>

<p>Your search results are <%= @search_info %>. DOES NOT WORK???</p>
