<p>Your movie title is <%= @movie_title %></p>
<p>Your movie poster is <img src="<%= @poster %>"></p>



    <% @search_title_info.each do |i|%>
    <% @title = i %>
    <p>Your search results are <%= i %>.</p>
    <% end %>



    <% @search_imbdID_info.each do |b|%>
    <% @link = b %>
    
    <p>Your search results are 
    <a href="http://www.imdb.com/title/<%= @link %>">sadfasdf</a>.</p>
    <% end %>


<!-- <p>Your links are <%=   @clickable_links %>.</p> -->



<!-- <a href="https://generalassemb.ly/">WhateverTEst</a>

<p>Yblajdslkfj <%=   @object %>.</p> -->

