<%= form_for @author do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </p>
  <p>
    <%= f.label :nationality %>
    <%= f.text_field :nationality %>
  </p>
  <p>
    <%= f.label :style %>
    <%= f.text_field :style %>
  </p>
  <p>
    <%= f.label :dob %>
    <%= f.text_field :dob %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>
  <%= f.submit %>
<% end %>