<h1><%= @author.name %></h1>
<%= image_tag(@author.image, :class => 'thumb') %>
<p>Nationality: <%= @author.nationality %></p>
<p>Style: <%= @author.style %></p>
<p>Date of birth: <%= @author.dob.strftime('%e %B %Y') %></p>


<div class="controls">
  <%= link_to('Edit author', edit_author_path(@author)) %>
  <%= link_to('Delete author', @author, :method => :delete, :data => {:confirm => "Are you sure?"}) %>
</div>