<img src="<%= @movie['Poster'] %>" alt="<%= @movie['Title'] %> poster">
<table>
  <tr>
    <td>Title</td>
    <td><%= @movie['Title'] %></td>
  </tr>
  <tr>
    <td>Actors</td>
    <td><%= @movie['Actors'] %></td>
  </tr>
  <tr>
    <td>Plot</td>
    <td><%= @movie['Plot'] %></td>
  </tr>
</table>

