<h3><%= @movie.title %></h3>

<img src="<%= @movie.poster %>" alt="<%= @movie.title %>">

<p>Published in: <%= @movie.year %></p>
<p>runtime: <%= @movie.runtime %></p>
<p>genres: <%= @movie.genre %></p>
<p>director: <%= @movie.director %></p>
<p>Recommendation: <%= @movie.title %> has <%= @movie.awards %> It currently has a metascore of <%= @movie.metascore %></p>