<img src="<%= @movie['image'] %>" alt="<%= @movie['title'] %> poster">
<table>
  <tr>
    <td>Title</td>
    <td><%= @movie['title'] %></td>
  </tr>
  <tr>
    <td>Actors</td>
    <td><%= @movie['actors'] %></td>
  </tr>
  <tr>
    <td>Plot</td>
    <td><%= @movie['plot'] %></td>
  </tr>
</table>

